// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;


// APP Colors:
$primary-color: #F45B69;
// $primary-color: #D30C7B;
$primary-color-dark: #E1525F;
// $primary-color-dark: #B50A68;


$secondary-color: #2A2D34;

$third-color: #F2F2F2;


@mixin absCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absCenterSA {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin absCenterSB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin absCenterColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin absCenterColumnReverse {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

@mixin absCenterColumnSA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}



@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

.phone-only {
 @include for-tablet-portrait-up {
  display: none;
 }
}
