.contact-logo {
  height: 150px;
  position: absolute;
    top: 40%;
    left: 20%;


    @include for-phone-only {
      height: 50px;
        top: 160px;
        left: 10%;
    }
}



.avatar {
  margin: 45px;
  color: white;

  & img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 3px solid white;
  }

  @include for-phone-only {
    margin: 10px;

    & img {
      height: 80px;
      width: 80px;
    }
  }
}

.contact {
  background-image:
    linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) ),
    asset-url('contact-background.png');
  // height: 100%;
  width: 100%;
  background-size: cover;

  &_first {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40vh 0 0;

    & h3 {
      color: white;
      font-family: $main-font;
      font-weight: 600;
      font-size: 70px;
    }

    @include for-phone-only {
      padding: 100px 0 0 0;
      flex-direction: column;

      & img {
        width: 100px;
        height: 100px;
      }

      & h3 {
        padding: 0;
        font-size: 20px;
      }
    }

    @include for-tablet-landscape-up {
      & h3 {
        font-size: 40px;
        padding: 0 0 0 40px;
      }
    }
  }

  &_second {
      &_first-row {
        width: 100%;
      }

      &_second-row {
        width: 100%;
        display: flex;
        justify-content: space-around;

        @include for-phone-only {
          flex-direction: column;
        }
      }
  }

  &_third {
    width: 100%;
    @include absCenter;
    padding: 80px 0;

    &_button {
      border: 0;
      padding: 10px 80px;
      color: white;
      background-color: $primary-color;
      margin: 15px;
      border-radius: 2px;

      &:hover {
        background-color: $primary-color-dark;
        text-decoration: none;
        color: white;
      }
    }
  }
}

.contact-form {
  height: 100vh;
  width: 100%;
  position: fixed;
    top: 0;
    left: 0;
  background-color: rgba(black, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  & h2 {
    font-family: $main-font;
    font-weight: 600;
    margin-bottom: 50px;

    @include for-phone-only {
      padding-top: 20px;
      font-size: 26px;
    }
  }

  &_close {
    &:link,
    &:visited {
      color: $secondary-color;
      position: absolute;
        top: 2.5rem;
        right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
    }

    &:hover {
      color: $primary-color;
    }
  }

  &_content {
    // @include absCenter;
    position: absolute;
      top: 50%;
      left: 50%;
    width: 75%;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(black, 0.2);
    border-radius: 3px;
    // display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.5);
    transition: all .4s .2s;
  }


  //OPEN STATES

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &_content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  & form {
    padding: 30px;
    @include absCenterColumn;

    & input {
      outline: 0;
      border: 0;
      text-align: left;
      border-bottom: 1px solid black;
      margin: 10px 0;
      padding-bottom: 6px;
      width: 200px;

      @include for-phone-only {
        font-size: 14px;
      }
    }

    ::placeholder{
      color: black;
    }

    & label {
      font-family: $main-font;
      font-weight: 500;
    }

    & select {
      border: 0;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 0px !important;
      padding: 0 10px;
      width: 200px;

      & option {
        border: 0;
        background-color: transparent;

      }
    }

    .form {

      &_first {
        width: 100%;
        height: 100px;
        @include absCenterSB;
        @include for-phone-only {
          @include absCenterColumn;
        }
      }

      &_second {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: flex-start;
        margin-bottom: 40px;
        justify-content: space-between;
        @include for-phone-only {
          @include absCenterColumn;
          margin-bottom: 10px;
        }
      }

      &_button {
        padding: 10px 80px;
        color: white;
        background-color: $primary-color;
        border: 0 !important;
        border-radius: 2px;
        margin: 30px 0;

        &:hover {
          background-color: $primary-color-dark;
        }

        @include for-phone-only {
          margin: 10px 0;
          padding: 10px 50px;
          font-size: 16px;
          text-align: center;
        }
      }
    }

  }
}
