.contact-logo {
  height: 150px;
  position: absolute;
    top: 45%;
    left: 20%;

    @include for-phone-only {
      height: 50px;
        top: 160px;
        left: 10%;
    }
}

@media (max-width: 900px) {
  .contact-logo {
    top: 180px;
    left: 45%;
  }
}

@media (max-width: 980px) {
  .contact-logo {
     left: 10%;
  }
}


.avatar {
  margin: 45px;
  color: white;

  & img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 3px solid white;
  }

  @include for-phone-only {
    margin: 10px;

    & img {
      height: 80px;
      width: 80px;
    }
  }
}

.contact {
  background-image:
    linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) ),
    asset-url('contact-background.png');
  // height: 100%;
  width: 100%;
  background-size: cover;

  &_first {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40vh 0 0;

    & h3 {
      color: white;
      font-family: $main-font;
      font-weight: 600;
      font-size: 70px;
    }

    @include for-phone-only {
      padding: 100px 0 0 0;
      flex-direction: column;

      & img {
        width: 100px;
        height: 100px;
      }

      & h3 {
        padding: 0;
        font-size: 20px;
      }
    }

    @include for-tablet-landscape-up {
      & h3 {
        font-size: 40px;
        padding: 0 0 0 40px;
      }
    }
  }

  &_second {
      &_first-row {
        width: 100%;
      }

      &_second-row {
        width: 100%;
        display: flex;
        justify-content: space-around;

        @include for-phone-only {
          flex-direction: column;
        }
      }
  }

  &_third {
    width: 100%;
    @include absCenter;
    padding: 80px 0;

    &_button {
      border: 0;
      padding: 10px 80px;
      color: white;
      background-color: $primary-color;
      margin: 15px;
      border-radius: 2px;

      &:hover {
        background-color: $primary-color-dark;
        text-decoration: none;
        color: white;
      }
    }
  }
}



