
.home-video {


    & video {
      width: 100% !important;
      height: auto !important;

      &:focus {
        outline: 0;
        border: 0;
      }
    }

  // @include for-phone-only {
  //   margin-top: 30px;
  // }
}
