.unclassifiable {

  &_banner {
    height: 700px;
    width: 100%;
    background-image:
      linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5) ),
      url('https://s3.eu-west-3.amazonaws.com/rendezvoushotel/home-page.png');
    background-size: cover;
    color: white;
    @include absCenterColumn;

    & h1 {
      font-size: 70px;
      font-weight: 600;
    }

    & h6 {
      font-size: 22px;
      line-height: 35px;
      width: 85%;
      text-align: center;
    }

    @include for-phone-only {
      height: 600px;

      & h1 {
        font-size: 26px;
      }

      & h6 {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &_testimonials {
    @include absCenterColumn;
  }
}
