
<div class="footer">
  <p> A production of Recall Agency </p>
  <p>6, place de la Madeleine</p>
  <p>75008 Paris, France</p>
  <%= image_tag 'logo.png', class: "footer_logo" %>
  <div class="footer_label">
    <%= link_to 'Hoxton Digital','https://www.hoxton-digital.com' %>
    <%= link_to 'London Web & App Development','https://www.hoxton-digital.com' %>
  </div>
</div>
