<div class="hoxton-footer bottom-fixed">
  <div class="footer-content">
    <%= image_tag 'logo.png', class: "hoxton-footer_logo" %>
    <p> <b>A production of Recall Agency</b> <br> 6, place de la Madeleine<br/>75008 Paris, France</p>

    <div>
    <p class="hidden-xs hidden-sm point" style="margin-right: 140px;">
      .
    </p>
    </div>
  </div>
  <div class="hoxton-footer_pink-label">
    <p class="developed">Developed By - <%= link_to 'Hoxton Digital', 'https://www.hoxton-digital.com' %></p>
  </div>
</div>
