<div class="white-space"></div>
<div class="buyers">
  <%= cl_video_tag("RDV_LISBON_BUYERS_1_edlzv3", loop: true, autoplay: true, muted: true, controls: true) %>
  <%= link_to contact_path do %>
    <button>Register</button>
  <% end %>
</div>
