<div class="white-space"></div>
<div class="buyers">
  <%= cl_video_tag("WhatsApp_Video_2019-04-16_at_13.11.01_g0pswz", loop: true, autoplay: true, controls: true) %>
  <button>Register</button>
</div>
