<div class="white-space"></div>
<div class="contact">
  <%= image_tag 'white-logo.png', class: "contact-logo" %>
  <div class="contact_first">
    <h3>Contact Our Team</h3>
  </div>
  <div class="contact_second">
    <div class="contact_second_first-row">
      <div class="avatar">
        <%= image_tag 'alexandre.png' %>
        <h4>Alexandre Olive</h4>
        <h5>Founder</h5>
        <h6><a href="mailto: alexandre@rendezvous-ihf.com" style="color: white;">alexandre@rendezvous-ihf.com</a></h6>
      </div>
      <div class="avatar">
        <%=  image_tag 'estelle.png' %>
        <h4>Estelle Bernière</h4>
        <h5>European Office Manager</h5>
        <h6><a href="mailto: saleseurope@rendezvous-ihf.com" style="color: white;">saleseurope@rendezvous-ihf.com</a></h6>
      </div>
      <div class="avatar">
        <%= image_tag 'arnaud.png' %>
        <h4>Arnaud Hudaverdian</h4>
        <h5>Latam Office Manager</h5>
        <h6><a href="mailto: sales@rendezvous-ihf.com" style="color: white;">sales@rendezvous-ihf.com</a></h6>
      </div>
    </div>
    <div class="contact_second_second-row">

    </div>
    <div class="contact_third" id="cform">
      <a href="#testing" class="contact_third_button"> Contact Us</a>
    </div>
  </div>
</div>

<div id="testing" class="contact-form">
  <div class="contact-form_content">
    <a href="#cform" class="contact-form_close">&times;</a>
    <form action="https://formspree.io/saleseurope@rendezvous-ihf.com" method="POST" id="rdvform"/>
      <h2>#DOBUSINESS</h2>
      <div class="form_first">
        <input type="text" name="name" placeholder="Full Name">
        <input type="company" name="company" placeholder="Company">
        <input type="position" name="position" placeholder="Position">
      </div>
      <div class="form_second">

        <input type="email" name="email" placeholder="Email">

          <select name="buyer" id="rdvform" class="form-control">
            <option value="" disabled selected> I am a:</option>
            <option value="Buyer">Buyer</option>
            <option value="Hotel">Hotel</option>
          </select>

          <select name="edition" id="rdvform" class="form-control">
            <option value="" disabled selected> I am interested in:</option>
            <option value="Lisboa Edition">Lisboa Edition</option>
            <option value="Megève Edition">Megève Edition</option>
            <option value="Cartagena Edition">Cartagena Edition</option>
            <option value="Monaco Edition">Monaco Edition</option>
          </select>
      </div>
      <input type="submit" value="Send" class="form_button">
    </form>
  </div>
</div>

