<div class="white-space"></div>
<div class="unclassifiable">
    <section class="unclassifiable_banner">
      <span></span>
    </section>
    <section class="unclassifiable_content">
        <div class="unclassifiable_content_header">
          <h4>Unclassifiable</h4>
        </div>
        <div class="unclassifiable_content_text">
          <p>
            There is something unclassifiable in Rendez-vous, a mystery that is never fully understood:<br>
            creative or  statutory ?<br>
            Fun or business ?<br>
            casual or sophistication ?<br>
            <br><br>
            The success of Rendez-vous comes from thisfundamental ambivalence:
            to present hotels and destinations, to create startegic contacts, to generate ROI, to reinvent itself constantly and to live unforgettable experiences and emotions, without ever becoming “just” a simple fair of the luxury travel.
          </p>
        </div>
    </section>
</div>
