

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
    top: 0;
    left: 0;
  background-color: rgba(black, 0.8);
  z-index: 9999;

  opacity: 0;
  visibility: hidden;

  transition: all .3s;

  &_close {
    &:link,
    &:visited {
      color: $secondary-color;
      position: absolute;
        top: 2.5rem;
        right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
    }

    &:hover {
      color: $primary-color;
    }
  }

  &_content {
    position: absolute;
      top: 50%;
      left: 50%;
    width: 75%;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(black, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.5);
    transition: all .4s .2s;

    @include for-phone-only {
      width: 85%;
    }
  }

  &_left {
    width: 33.3333333%;
    display: table-cell;
  }

  &_right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 5rem;

    @include for-phone-only {
      padding: 1rem 2rem;
    }
  }

  //OPEN STATES

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &_content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &_img {
    display: block;
    width: 100%;
  }

  // &_text {
  //   font-size: 1.4rem;
  //   margin-bottom: 4rem;

  //   column-count: 2;
  //   column-gap: 4rem;
  //   column-rule: 1px solid #eee;

  //   -moz-column-count: 2;
  //   -moz-column-gap: 4rem;
  //   -moz-column-rule: 1px solid #eee;

  //   -moz-hyphens: auto;
  //   -webkit-hyphens: auto;
  //   -ms-hyphens: auto;
  //   hyphens: auto;
  // }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_left {

      & h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 3.4rem;
        color: $primary-color;
        margin-top: 0px;
        margin-bottom: 0rem;
      }

      & h3 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 2.5rem;
        color: $primary-color;
        margin-bottom: 0.5rem;
      }

      @include for-phone-only {
        & h2 {
          font-size: 1.8rem;
        }

        & h3 {
          margin-top: 0.2rem;
          font-size: 1.2rem;
        }
      }
    }

    &_right {
      & img {
        margin: 2rem;
        height: 120px;
      }

      @include for-phone-only {
        & img {
          margin: 3rem;
          height: 50px;
        }
      }
    }
  }

  & h4 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;

    @include for-phone-only {
      font-size: 1.2rem;
    }
  }

  & p {
    font-size: 12px;

    @include for-phone-only {
      font-size: 12px;
    }
  }

  &_small-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: $secondary-color;
    margin-bottom: 2rem;
  }

}


@media only screen and (max-width: 768px) {
  .popup {

    &_left {
      width: 33.3333333%;
      display: none;
    }

      &_text {
        font-size: 10px;
      }

  }

}

@media only screen and (max-width: 600px) {
  .popup {

    &_left {
      width: 33.3333333%;
      display: none;
    }

      &_text {
        font-size: 10px;
      }

  }

}


.registration-popup {
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
    top: 50px;
    left: 0;
  display: none;
}

.registration-content {
  height: 85vh;
  width: 80vw;
  max-width: 800px;
  opacity: 1;
  position: absolute;
    top: 50%;
    left: 50%;
  width: 75%;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(black, 0.2);
  border-radius: 3px;
  overflow: hidden;
  transform: translate(-50%, -50%);
  transition: all .4s .2s;
  padding: 20px;

  & h4 {
    font-weight: bolder;
  }

  & p {
    font-size: 14px;
    color: #474747;

    @include for-phone-only {
      font-size: 12px;
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    overflow-x: scroll;

    & input {
      font-weight: 300;
      color: #8A91A1;
      border-radius: 5px;
      margin-bottom: 10px;
      background-color: white;
      padding: 5px;
      border: #ECEDEE 1px solid;
      transition: 0.5s;

      &:focus {
        border: 2px solid $primary-color;
        outline: none;
        transition: 0.4s;
      }
    }

    & label {
      font-weight: 400;
    }

    & textarea {
      border: #ECEDEE 1px solid;
      transition: 0.5s;
      padding: 5px;
      font-weight: 300;

      &:focus {
        border: 2px solid $primary-color;
        outline: none;
        transition: 0.4s;
      }
    }

    @include for-phone-only {
      font-size: 12px;

      & input {
        margin-bottom: 8px;
        padding: 4px;

        &:focus {
          border: 2px solid $primary-color;
          outline: none;
          transition: 0.4s;
        }
      }

      & label {
        font-weight: 400;
      }

      & textarea {
        border: #ECEDEE 1px solid;
        transition: 0.5s;
        padding: 5px;
        font-weight: 300;

        &:focus {
          border: 2px solid $primary-color;
          outline: none;
          transition: 0.4s;
        }
      }

      & select {
        border: 1px solid #474747;
      }
    }
  }

  & fieldset {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  &_close {
    &:link,
    &:visited {
      color: $secondary-color;
      position: absolute;
        top: 2.5rem;
        right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
    }

    &:hover {
      color: $primary-color;
    }
  }

  @include for-phone-only {
    width: 85%;
  }
}
